<title>Informações do Setor</title>
<!-- Page Content -->
<h3>Informações do Setor</h3>
<hr>


<div class="container " style="float: left; max-width: 70%; padding-left: 5%">
  <form (ngSubmit)="save()" [noValidate]="$any(false)">
    <div class="form-group">
      <div class="form-row">
        <div class="form-group">
          <div class="col-md-4">
            <mat-form-field>
              <mat-label class="text-dark">Gerente</mat-label>
              <mat-select required="required" name="gerente" (selectionChange)="selectGerente()" [(ngModel)]="gerente">
                <mat-option *ngFor="let gerente of gerentes" (click)="selectGerente()"
                            [value]="gerente"> {{gerente.nome}}</mat-option>
                <mat-option *ngIf="gerentes.length <=0">Nenhum gerente Cadastrado</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4" *ngIf="setorShow">
            <mat-form-field>
              <mat-label class="text-dark">Etapa da Produção</mat-label>
              <mat-select required="required" name="etapa" [(ngModel)]="etapa" (selectionChange)="selectEtapa(etapa)">
                <mat-option *ngFor="let etapa of gerente.etapas" [value]="etapa">{{etapa.etapaProducao}}</mat-option>
                <mat-option *ngIf="gerente.etapas.length <=0">Nenhuma etapa Cadastrado</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

<!--        <div class="form-group">-->
<!--          <div class="col-md-4" *ngIf="setorShow">-->
<!--            <mat-form-field>-->
<!--              <mat-label class="text-dark">Setor</mat-label>-->
<!--              <mat-select required="required" name="setor" [(ngModel)]="setor">-->
<!--                <mat-option *ngFor="let setor of gerente.setores" [value]="setor">{{setor.nomeSetor}}</mat-option>-->
<!--                <mat-option *ngIf="gerente.setores.length <=0">Nenhum Setor Cadastrado</mat-option>-->
<!--              </mat-select>-->
<!--            </mat-form-field>-->
<!--          </div>-->
<!--        </div>-->

        <div class="form-group">
          <div class="col-md-4" *ngIf="setorShow">
            <mat-form-field>
              <mat-label class="text-dark">Peça</mat-label>
              <mat-select required="required" name="peca" (selectionChange)="selectPeca()" [(ngModel)]="peca">
                <mat-option *ngFor="let peca of gerente.pecas" [value]="peca">{{peca.descricao}}</mat-option>
                <mat-option *ngIf="gerente.pecas.length <=0">Nenhuma Peça Cadastrado</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>



      </div>

    </div>
    <div class="form-group">
      <div class="form-row">

        <div class="form-group">
          <div class="col-md-4" *ngIf="showOpe">

            <mat-form-field>
              <mat-label class="text-dark">Operacao</mat-label>
              <mat-select required="required" name="ope" [(ngModel)]="ope" (change)="selectOpe()">
                <mat-option *ngFor="let operacao of peca.operacoesFazer"
                            [value]="operacao">{{operacao.descricao}}</mat-option>
                <mat-option *ngFor="let operacao of peca.operacoesAndamento"
                            [value]="operacao">{{operacao.descricao}}</mat-option>
                <mat-option *ngFor="let operacao of peca.operacoesPrazo"
                            [value]="operacao">{{operacao.descricao}}</mat-option>
                <!-- <mat-option *ngIf="peca.operacoesFazer.length <=0 || peca.operacoesAndamento.length <=0">Nenhuma Operacao Cadastrado</mat-option> -->
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-8" *ngIf="showOpe">
            <label for="qtdPecasOpe">Peças produzidas:
              <input type="number" [(ngModel)]="informacao.qtdPecasOpe" name="qtdPecasOpe" id="qtdPecasOpe"
                     class="form-control"
                     placeholder="Peças produzidas:"
                     required="required">
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-8" *ngIf="showOpe">
            <label for="tempoNecessari">Tempo Unidade:
              <input type="time" [(ngModel)]="informacao.tempoNecessario" name="tempoNecessario" id="tempoNecessari"
                     class="form-control"
                     placeholder="Tempo necessário:"
                     required="required">
            </label>
          </div>
        </div>
      </div>
    </div>

    <input class="btn btn-success" type="submit" value="Enviar">
  </form>


  <!-- /.container-fluid -->

  <!-- Sticky Footer -->
  <footer class="sticky-footer">
    <div class="container my-auto ">
      <div class="copyright text-center my-auto ">
        <span>Copyright © DyOpe Assistant 2019</span>
      </div>
    </div>
  </footer>
</div>
<!-- /.content-wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pronto para sair?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Selecione "Sair" abaixo se você estiver pronto para encerrar sua sessão atual.
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        <a class="btn btn-primary" href="index">Sair</a>
      </div>
    </div>
  </div>
</div>

<!--Modal Redefinir Senha: -->

<div class="modal fade redefinir-senha" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-body">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Redefinir senha:</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <form method="post" action="infoSetor/cadastrarinfosetor">
            <div class="form-group">

              <div class="form-group">

                <div class="col-md-auto">
                  <div class="form-label-group">
                    <input type="password" id="senha_atual" class="form-control"
                           placeholder="Senha atual:"
                           required="required">
                    <label for="senha_atual">Senha atual:</label>
                  </div>
                </div>
              </div>

              <div class="form-group">

                <div class="col-md-auto">
                  <div class="form-label-group">
                    <input type="password" id="senha_nova" name="senha" class="form-control"
                           placeholder="Nova senha:"
                           required="required">
                    <label for="senha_nova">Nova senha:</label>
                  </div>
                </div>
              </div>

              <div class="form-group">

                <div class="col-md-auto">
                  <div class="form-label-group">
                    <input type="password" id="senha_confirmar" class="form-control"
                           placeholder="Confirmar senha:"
                           required="required">
                    <label for="senha_confirmar">Confirmar senha:</label>
                  </div>
                </div>

              </div>

            </div>

            <div class="modal-footer col-md-12">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
              <input class="btn btn-primary" type="submit" value="Cadastrar">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
